.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
  }

  &__form {
    display: flex;
    &-input {
      margin-right: 0.2rem;
      min-width: 180px;
    }
  }
}